@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    /* Light grey */
    color: #333;
}

header {
    background-color: #05AAF4;
    /* Bright blue */
    color: #FFFFFF;
    /* White text */
    padding: 0.2em 1em;
    /* Tightened padding */
    text-align: center;
    border-bottom: 1px solid #039BE5;
    /* Slightly darker blue */
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
    background-color: #FFFFFF;
    /* White */
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
    color: #666;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

button {
    background-color: #9E9E9E;
    /* Material Design Grey */
    color: #FFFFFF;
    border: none;
    padding: 1em;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #757575;
    /* Darker shade of Material Design Grey */
}

.required {
    color: #808080;
    /* Grey color */
    margin-left: 0.2em;
    /* Adjust spacing */
}

.optional {
    color: #808080;
    /* Grey color */
    margin-left: 0.2em;
    /* Adjust spacing */
}